.poster img {
    width: 100%;
    border-radius: 1rem;
}

#poster-div {
    width: 25%;
}

#title-overview .poster,
#title-overview #anime-data {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.title {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#select-row {
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#video {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90%;
}

#back {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    width: 10vw;
    height: 10vh;
    aspect-ratio: 1/1;
}

#back img {
    width: 100%;
    height: 100%;
}

#castbutton {
    width: 15vw;
    height: 15vh;
}

#animeField {
    margin-top: 5vh;
}

#animeField div {
    display: inline;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#animeField div input,
.btn {
    font-size: 20pt;
    padding: 1.5rem;
}

select.form-control {
    display: inline;
    width: 30%;
    padding: 1.5rem;
}